.root {
  @apply w-full h-screen relative z-40;
}

.splash {
  @apply relative;
  width: 30%;
  height: 70%;
  & > img {
    object-fit: contain;
  }
}

.cta_text {
  @apply text-4xl text-center md:text-4xl font-bold;
}

/** Sizing for all slides */
@mixin mslide {
  @apply w-full h-screen relative;
}

.slide {
  @include mslide();

  & > p {
    @apply absolute transition-all;

    @media (max-width: 767px) {
      @apply top-[35%] left-0 right-0 m-auto w-[80%];
    }

    @apply top-[40%] left-[20%] w-fit;
  }
}
.slide1 {
  @include mslide();
  & > main {
    @apply absolute top-0 right-0 left-0 bottom-0 m-auto;
    @apply flex flex-col gap-10 w-[55%];
  }
  p {
    @apply text-start;
  }
}
.slide2 {
  @include mslide();

  & > main {
    @apply absolute top-0 right-0 left-0 bottom-0 m-auto;
    @apply flex flex-col gap-10 w-[55%];
  }
  p {
    @apply text-start;
  }
}
.slide3 {
  @include mslide();
}
