.root {
  @apply w-full h-screen relative z-40;
}

.splash {

  @apply relative;
  width: 30%;
  height: 70%;
  & > img {
    object-fit: contain;
  }
}

.cta_text {
  @apply text-2xl md:text-3xl font-bold;
}